@font-face {
  font-family: "Gilroy";
  src: url("/assets/fonts/Gilroy-Regular.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}

@keyframes move-down {
  from {
    top: 0;
  }

  to {
    top: 5px;
  }
}

@keyframes fade-in {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}


@keyframes toastFadeIn {
  0% {
    transform: translateX(100%);
  }

  100% {
    transform: translateX(0%);
  }
}

@keyframes toastFadeOut {
  0% {
    opacity: 1;
    transform: translateX(0%);
  }


  100% {
    opacity: 0;
    transform: translateX(100%);
  }
}

@keyframes toastProgress {
  0% {
    width: 0%;
  }

  100% {
    width: 100%;
  }
}


body {
  color: white;
  margin: 0;
  padding: 0;
  font-family: Gilroy, Segoe UI, sans-serif;
  background-color: black;
}

.with-background {
  background-image: url(/assets/textures/Gaia_EDR3_darkened.png);
  background-position: 50%;
  background-size: cover;
}

a:visited {
  color: white;
}

.info-page a,
.info-page a:visited,
footer a,
footer a:visited {
  text-decoration: none;
  color: white;
}

#bg {
  position: relative;
  top: 0;
  left: 0;
}

.section {
  max-width: 100vw;
  background-color: black;
}

#home {
  overflow: hidden;
}

.title-container {
  position: absolute;
  left: 20px;
  top: 20px;
  z-index: 99;
}

.source-container {
  position: absolute;
  right: 20px;
  top: 4%;
  z-index: 99;
  display: flex;
  align-items: center;
  gap: 8px;
  opacity: 0;
  animation: 1.5s ease-in 0s fade-in forwards;
  color: #fff;
}

.source-container img {
  width: 24px;
  height: 24px;
}

.btn-scroll-top {
  position: fixed;
  cursor: pointer;
  z-index: 99;
  bottom: 50px;
  right: 10px;
  font-size: 14px;
  display: flex;
  align-items: center;
  gap: 8px;
}

.up-chevron {
  height: 10px;
  width: 10px;
  margin-top: 4px;
  border-top: 2px solid black;
  border-right: 2px solid black;
  transform: rotate(-45deg);
}

.title {
  opacity: 0;
  animation: 1.5s ease-in 0s fade-in forwards;
  font-size: 2rem;
  text-shadow: 2px 4px 4px rgba(0, 0, 0, 0.9);
}

.subtitle {
  font-size: 1rem;
  max-width: 70vw;
  opacity: 0;
  animation: 1.5s ease-in 1.5s fade-in forwards;
  text-shadow: 2px 4px 4px rgba(0, 0, 0, 0.9);
}

.scroll {
  position: absolute;
  bottom: 0;
  text-align: center;
  z-index: 99;
  padding: 2rem;
  border-radius: 1rem;
  color: white;
  height: fit-content;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 16px;
  left: 50%;
  transform: translate(-50%);
  cursor: pointer;
  text-decoration: none;
}

.chevron {
  position: relative;
  width: 32px;
  height: 32px;
  animation: 0.7s ease-in 1s infinite move-down;
}

.loading-screen {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  overflow: hidden;
  background-color: rgba(0, 0, 0, 0.9);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 100;
}

#progress-bar {
  width: 30%;
  margin-top: 0.5%;
  height: 50px;
  border: 2px solid white;
  box-sizing: border-box;
}

#progress-bar::-webkit-progress-bar {
  background-color: transparent;
  padding: 3px;
}

#progress-bar::-webkit-progress-value {
  background-color: #d3d3d3;
}

label[for="progress-bar"] {
  color: white;
  font-size: 2rem;
}

.hidden {
  display: none !important;
}

.info-page {
  display: flex;
  flex-direction: column;
}

.main-details {
  grid-column-start: 2;
  grid-row-start: 2;
  grid-row-end: 3;
  order: 1;
  padding-right: 16px;
}

.picture-card {
  display: flex;
  background-color: white;
  border-radius: 8px;
  align-items: center;
  flex-direction: column;
  margin: 0 auto;
  order: 0;
  gap: 16px;
  color: black;
  max-width: 350px;
}

.profile-picture {
  margin: 28px;
  height: 270px;
  object-fit: cover;
  aspect-ratio: 3 / 4;
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.3);
  box-sizing: border-box;
}

.my-name {
  font-size: 24px;
}

.my-about {
  font-size: 16px;
  padding: 0 32px;
  text-align: center;
}

.link-container {
  display: inline-flex;
  gap: 8px;
}

.social-media-link {
  display: flex;
  align-items: center;
  justify-content: center;
}

.social-media-icon {
  height: 48px;
  width: 48px;
  transition: all 0.2s ease;
}

.tech-stack {
  order: 3;
}

.and-more-text {
  order: 4;
}

.social-media-icon:hover {
  transform: scale(1.4);
}

.tech-stack-grid {
  align-self: baseline;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 16px;
}

.tech-stack-cell {
  display: flex;
  flex-direction: column;
  gap: 16px;
  align-items: center;
  background-color: #1e1b4bb3;
  padding: 16px 8px;
  border-radius: 8px;
  font-size: 14px;
  transition: all 0.2s ease-in;
}

.tech-stack-cell:hover {
  background-color: #1e1b4b;
  transform: scale(1.05);
}

.tech-stack-skill {
  width: 80px;
  height: 80px;
}

.block-title {
  grid-row-start: 1;
  grid-column-start: 2;
}

.certification-block-container {
  grid-row-start: 2;
  grid-row-end: 5;
  grid-column-start: 2;
  grid-column-end: 4;
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.certification-block {
  display: flex;
  align-items: center;
  gap: 32px;
}

.certification-picture {
  height: 80px;
}

.certification-text {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.certification-text a:hover {
  text-decoration: underline;
}

.btn-light {
  font: inherit;
  color: #212529;
  padding: 8px 16px;
  border-radius: 0.25rem;
  font-weight: bold;
  background-color: #f8f9fa;
  text-align: center;
  vertical-align: middle;
  border: 1px solid transparent;
  cursor: pointer;
  font-size: 1rem;
  line-height: 1.5;
  transition: all 0.15s ease-in-out;
}

.btn-light:hover {
  background-color: #e2e6ea;
  border-color: #dae0e5;
}

.modal {
  width: 90vw;
  max-width: 600px;
  max-height: 500px;
  overflow-y: auto;
  background-color: #1e1b4b;
  border-color: transparent;
  border-radius: 4px;
  color: white;
}

.modal-content {
  position: relative;
  padding: 0 16px;
  box-sizing: border-box;
}

.modal-header {
  position: sticky;
  right: 0;
  top: 0;
}

.close-btn {
  width: 32px;
  height: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  border: none;
  margin-right: -16px;
  margin-left: auto;
}

.close-icon {
  height: 100%;
  width: 100%;
}

.contact-me-container {
  grid-row-start: 2;
  grid-column-start: 2;
  grid-row-end: 5;
  grid-column-end: 4;
  margin-bottom: 100px;
}

.contact-me-form {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.contact-me-form label {
  font-size: 16px;
}

.contact-me-form input,
.contact-me-form textarea {
  font-size: 16px;
  background-color: #212529;
  font-family: inherit;
  padding: 8px;
  color: white;
  border: 1px solid #dae0e5;
  max-width: 600px;
  border-radius: 4px;
}

.contact-me-form textarea {
  resize: none;
}

.contact-me-form .btn-light {
  width: fit-content;
}

footer {
  background-color: #1e1b4b;
  padding: 12px;
  display: flex;
  justify-content: space-between;
  font-size: 14px;
}

footer div {
  display: flex;
  gap: 16px;
}

@media only screen and (max-width: 1023px) {
  .info-page {
    gap: 32px;
    padding: 24px;
  }
}



.timeline {
  grid-row-start: 2;
  grid-row-end: 6;
  grid-column-start: 2;
  grid-column-end: 4;
  width: 100%;
  height: fit-content;
  position: relative;
}

.timeline::after {
  content: "";
  position: absolute;
  width: 1px;
  background-color: white;
  top: 0;
  bottom: 0;
  left: 50%;
  transform: translate(-50%);
}

.time-container {
  padding: 12px 36px;
  position: relative;
  width: 50%;
  box-sizing: border-box;
}

.time-container::after {
  content: "";
  position: absolute;
  width: 24px;
  height: 24px;
  right: -15px;
  background-color: white;
  border: 4px solid #1e1b4b;
  top: 15px;
  border-radius: 50%;
  z-index: 1;
}

.left {
  left: 0;
}

.right {
  left: 50%;
}

.right::after {
  left: -17px;
}

.left::before,
.right::before {
  content: " ";
  height: 0;
  position: absolute;
  top: 22px;
  width: 0;
  z-index: 1;
  border: medium solid white;
}

.left::before {
  border-width: 10px 0 10px 10px;
  border-color: transparent transparent transparent #1e1b4bb3;
  right: 26px;
}

.right::before {
  border-width: 10px 10px 10px 0;
  border-color: transparent #1e1b4bb3 transparent transparent;
  left: 26px;
}

.time-content {
  padding: 20px 30px;
  background-color: white;
  position: relative;
  border-radius: 6px;
  background-color: #1e1b4bb3;
}

.timeline-picture {
  height: 40px;
  object-fit: cover;
}

.bold {
  font-weight: bold;
}

.white-bg-img {
  background-color: white;
  padding: 6px;
}

.toast {
  visibility: hidden;
  right: 5px;
  color: #fff;
  text-align: center;
  border-radius: 2px;
  padding: 16px;
  position: fixed;
  z-index: 100;
  top: 30px;
  display: flex;
  max-width: 90vw;
  flex-direction: column;
}

.toast.success {
  background-color: #2ecc71;
}

.toast.error {
  background-color: #e74c3c;
}

.toast-content {
  display: flex;
  align-items: center;
}

.toast.show {
  visibility: visible;
  -webkit-animation: toastFadeIn 0.5s, toastFadeOut 0.5s 2.5s;
  animation: toastFadeIn 0.5s, toastFadeOut 0.5s 2.5s;
}

.toast-progress {
  position: absolute;
  display: block;
  bottom: 0;
  left: 0;
  height: 4px;
  width: 100%;
  background: #b7b7b7;
}

.toast.show .toast-progress {
  animation: toastProgress 2.5s ease-in-out forwards;
}

input.error-input,
textarea.error-input {
  border-color: #e74c3c;
}

/* Media queries - Responsive timeline on screens less than 767px wide */
@media screen and (max-width: 767px) {

  /* Place the timelime to the left */
  .timeline::after {
    left: 31px;
  }

  /* Full-width containers */
  .time-container {
    width: 100%;
    padding-left: 70px;
    padding-right: 25px;
  }

  /* Make sure that all arrows are pointing leftwards */
  .time-container::before {
    left: 60px;
    border: medium solid white;
    border-width: 10px 10px 10px 0;
    border-color: transparent #1e1b4bb3 transparent transparent;
  }

  /* Make sure all circles are at the same spot */
  .left::after,
  .right::after {
    left: 15px;
  }

  /* Make all right containers behave like the left ones */
  .right {
    left: 0%;
  }

  #progress-bar {
    width: 80%;
  }

  label[for="progress-bar"] {
    font-size: 1rem;
  }

  .loading-screen {
    gap: 8px;
  }
}

@media screen and (max-width: 425px) {
  p {
    font-size: 14px;
  }

  .tech-stack-skill {
    width: 40px;
    height: 40px;
  }

  .timeline-picture {
    height: 25px;
  }

  .my-about {
    font-size: 14px;
  }

  .social-media-icon {
    height: 36px;
    width: 36px;
  }

  .picture-card {
    gap: 8px;
  }

  footer {
    font-size: 10px;
  }
}


@media only screen and (min-width: 1024px) {
  .toast {
    right: 12px;
  }

  .title-container {
    left: 10%;
    transform: translate(-10%);
  }

  .source-container {
    right: 10%;
    top: 9%;
    transform: translate(10%);
  }

  .title {
    font-size: 5rem;
  }

  .subtitle {
    font-size: 2rem;
  }

  .info-page {
    margin-top: 48px;
    display: grid;
    grid-template-columns: 1fr 2fr 2fr 1fr;
    grid-template-rows: 0.5fr 2fr 2fr 0.5fr;
  }

  .picture-card {
    grid-row-start: 2;
    grid-column-start: 3;
    grid-row-end: 5;
    margin-right: 0;
  }

  .tech-stack {
    grid-row-start: 3;
    grid-row-end: 5;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    grid-column-start: 2;
  }

  .and-more-text {
    grid-row-start: 5;
    grid-column-start: 2;
  }

  .certification-block-container {
    margin-top: 32px;
  }
}