@font-face {
  font-family: 'FuturyLight';
  src: url('assets/fonts/FuturyLight-MAOLv.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

body,
#bg {
  margin: 0;
  padding: 0;
  font-family: "FuturyLight", serif;
}

#bg {
  position: fixed;
  top: 0;
  left: 0;
}

main {
  position: relative;
  width: 100vw;
  height: 100vh;
  display: grid;

}

.scroll {
  position: fixed;
  bottom: 0;
  text-align: center;
  z-index: 99;
  padding: 2rem;
  background: rgba(0, 0, 0, 0.7);
  border-radius: 1rem;
  color: white;
  height: fit-content;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  left: 50%;
  transform: translate(-50%);
}

.chevron {
  width: 24px;
  height: 24px;
}